:root {
  --muted-mauve-grey: #6b6375;
  --near-black: #1a1a1a;
  --bg: #f5f5f5;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --lime-green: #d6fd70;
  --purple: #aa3bff;
  --purple-bg: rgba(170, 59, 255, 0.1);
  --purple-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --nav-width: 160px;
  --btn-padding: 14px 23px;
  --yellow-green: #9acd32;
  --base-white: #fff;
  --grey-200: #ececec;
  --grey-300: #c7c7c7;
  --grey-400: #585858;
  --grey-500: #474747;
  --grey-600: #363636;
  --grey-700: #2f2f2f;
  --grey-800: #1a1a1a;
  --btn-hover: #08060d;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sitefont: "Poppins", "Segoe UI", Roboto, sans-serif;
  --heading: "Poppins", "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sitewidth: 1280px;

  --step--2: clamp(0.56rem, 0.6076rem + -0.0595vw, 0.6076rem);
  --step--1: clamp(0.7rem, 0.7292rem + -0.0365vw, 0.7292rem);
  --step-0: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --step-1: clamp(1.05rem, 1.05rem + 0.0547vw, 1.0938rem);
  --step-2: clamp(1.26rem, 1.26rem + 0.134vw, 1.3672rem);
  --step-3: clamp(1.512rem, 1.512rem + 0.2462vw, 1.709rem);
  --step-4: clamp(1.8144rem, 1.8144rem + 0.4023vw, 2.1362rem);
  --step-5: clamp(2.1773rem, 2.1773rem + 0.6163vw, 2.6703rem);
  --step-6: clamp(2.6127rem, 2.6127rem + 0.9064vw, 3.3379rem);
  --step-7: clamp(3.1353rem, 3.1353rem + 1.2963vw, 4.1723rem);
  --step-8: clamp(3.7623rem, 3.7623rem + 1.8163vw, 5.2154rem);
  --step-9: clamp(4.5148rem, 4.5148rem + 2.5056vw, 6.5193rem);
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: var(--sitefont);
  scrollbar-gutter: stable;
}
body {
  font-size: var(--step-0);
  margin: 0;
  padding: 0;
  background: var(--bg);
  line-height: 1.5;
}

h1 {
  font-size: var(--step-4);
  line-height: 1.5;
  color: var(--near-black);
  font-weight: 600;
  letter-spacing: -2px;
}
h2 {
  font-size: var(--step-3);
  line-height: 1.5;
  color: var(--near-black);
  font-weight: 600;
  letter-spacing: -1px;
}
h3 {
  font-size: var(--step-2);
  font-weight: 600;
  margin-top: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
h4 {
  font-size: var(--step-1);
  font-weight: 600;
  margin-top: 10px;
  line-height: 1.5;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--near-black);
  line-height: 1.6;
  letter-spacing: inherit;
}
h1.lg-heading {
  font-size: var(--step-7);
  line-height: 0.9;
}
h1.med-heading {
  font-size: var(--step-5);
  line-height: 1;
}
button {
  font-family: var(--sitefont);
}
.mt0 {
  margin-top: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}

.mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
mb50 {
  margin-bottom: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}

.pt0 {
  padding-top: 0;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}

.pb0 {
  padding-bottom: 0;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}

.fw400 {
  font-weight: 400;
}

.displaynone {
  display: none !important;
}

.opacity75 {
  opacity: 0.75 !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  border-radius: 999px;
  color: var(--base-white);
  background-color: var(--purple);
  text-decoration: none;
  transition: background-color 0.2s ease;
  text-align: center;
  &:hover {
    background-color: var(--purple-border);
  }
}

.hero-outer {
  border-radius: 38px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: fit-content;

  .hero-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 640px;
    max-width: 900px;
    border-radius: 20px;
    // outline: 2px solid var(--lime-green);
    > img {
      width: 100%;
      height: auto;
      display: block;
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      image-rendering: auto;
      image-rendering: smooth;
      transform: translateZ(0);
      will-change: transform;
      backface-visibility: hidden;
    }
    .video-wrapper {
      position: absolute;
      object-fit: cover;
      overflow: hidden;
    }
    .mix {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      mix-blend-mode: multiply;
    }
  }
}
@position-try --flip-horizontal {
  left: unset;
  right: anchor(right);
}

.swiper-wrapper-outer {
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 942px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .swiper {
    width: 100%;
    .swiper-wrapper {
      .swiper-slide {
        border: 2px solid transparent;
        border-radius: 16px;
        &.active {
          border: 2px solid var(--lime-green);
          .badge {
            display: flex;
          }
        }
        .badge {
          position: absolute;
          top: 4px;
          right: 4px;
          width: 18px;
          height: 18px;
          border: 2px solid var(--grey-800);
          border-radius: 999px;
          z-index: 10;
          display: none;
          svg {
            width: 100%;
            height: 100%;
            path {
              fill: var(--lime-green);
            }
            path:nth-child(2) {
              fill: var(--grey-800);
            }
          }
        }
        .inner-slide {
          overflow: hidden;
          border-radius: 14px;
          max-height: 163px;
          position: relative;
        }
        img {
          width: 100%;
          height: auto;
          display: block;
        }
        canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          image-rendering: auto;
          image-rendering: smooth;
          transform: translateZ(0);
          will-change: transform;
          backface-visibility: hidden;
        }
        .video-wrapper {
          position: absolute;
          object-fit: cover;
          overflow: hidden;
          .item-video-thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
          .item-video {
            width: 100%;
            height: 100%;
          }
        }
        .mix {
          position: absolute;
          width: 100%;
          height: auto;
          top: 0;
          left: 0;
          mix-blend-mode: multiply;
        }
        &:hover {
          cursor: pointer;
          border-color: var(--purple-border);
        }
      }
    }
    .swiper-button-next {
      border: 2px solid var(--grey-800);
      background-color: var(--lime-green);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      &.swiper-button-disabled {
        display: none;
      }
      .swiper-navigation-icon {
        width: 12px;
        height: 12px;
        path {
          stroke: var(--grey-800);
          stroke-width: 2px;
        }
      }
      &:hover {
        border-color: var(--lime-green);
        background-color: var(--grey-800);
        .swiper-navigation-icon {
          path {
            stroke: var(--lime-green);
          }
        }
      }
    }
    .swiper-button-prev {
      border: 2px solid var(--grey-800);
      background-color: var(--lime-green);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      &.swiper-button-disabled {
        display: none;
      }
      .swiper-navigation-icon {
        width: 12px;
        height: 12px;
        path {
          stroke: var(--grey-800);
          stroke-width: 2px;
        }
      }
      &:hover {
        border-color: var(--lime-green);
        background-color: var(--grey-800);
        .swiper-navigation-icon {
          path {
            stroke: var(--lime-green);
          }
        }
      }
    }
  }
}

.tiles-wrapper {
  .tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 20px;
    justify-content: center;
    .tile-card {
      position: relative;
      transition: transform 0.2s ease;
      flex-basis: 18%;
      margin-bottom: 10px;
      &.hideme {
        display: none;
      }
      .popoverContainer {
        position: absolute;
        top: 8px;
        right: 8px;
        display: none;
        .popoverBtn {
          padding: 2px 2px;
          border-radius: 999px;
          color: var(--base-white);
          transition: border-color 0.2s ease;
          display: flex;
          width: 20px;
          height: 20px;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: var(--grey--grey-300);
          cursor: pointer;
          &:hover {
            border-color: var(--purple-border);
            background-color: var(--grey--grey-700);
          }
        }
        [popover] {
          inset: unset;
          left: anchor(left);
          top: anchor(bottom);
          position-try-fallbacks: --flip-horizontal;
          border-radius: 12px;
          padding: 12px 16px;
          max-width: 160px;
          background: var(--base-white);
          border: 1px solid var(--border);
          box-shadow: var(--shadow);
          p {
            margin: 0;
            color: var(--muted-mauve-grey);
            font-size: var(--step--1);
            line-height: 1.6;
          }
        }
      }
      &:hover {
        transform: translateY(-2px);
      }
      &:hover .popoverContainer {
        display: block;
      }
      &:hover .tile-info {
        display: block;
      }
      .tile-info {
        padding: 12px;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        h3.name {
          margin: 0 0 4px;
          font-size: var(--step-1);
          color: var(--muted-mauve-grey);
          display: none;
        }
        p.count {
          margin: 0;
          color: var(--muted-mauve-grey);
          font-size: var(--step--1);
          background-color: #fff;
          padding: 0px 8px;
          border-radius: 999px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .tile {
        width: fit-content;
        border: 1px solid var(--border);
        border-radius: 14px;
        background: var(--bg);
        overflow: hidden;
        text-align: left;
        padding: 0;
        transition:
          border-color 0.2s ease,
          box-shadow 0.2s ease,
          transform 0.2s ease;
        cursor: pointer;
        &:hover {
          border-color: var(--purple-border);
        }
        &.active {
          border: 2px solid var(--lime-green);
          .badge {
            display: block;
          }
        }
        .tile-thumb {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
        }
        .badge {
          position: absolute;
          top: 4px;
          right: 4px;
          width: 16px;
          height: 16px;
          background-color: var(--purple);
          border: 2px solid var(--grey-800);
          border-radius: 999px;
          z-index: 10;
          display: none;
        }
      }
    }
  }
}

.formwrapper {
  border-radius: 36px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  form {
    .formgroup {
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: var(--base-white);
      padding: 50px;
      .form-label {
        color: var(--near-black);
        font-weight: 600;
        margin-top: 20px;
      }
      .form-control {
        color: var(--muted-mauve-grey) !important;
      }
      .form-control::placeholder {
        color: var(--muted-mauve-grey);
        opacity: 0.6;
      }
      label {
        font-size: var(--step-1);
        color: var(--muted-mauve-grey);
      }
      input.form-control {
        color: var(--muted-mauve-grey);
      }
      input,
      textarea {
        color: var(--muted-mauve-grey);
        padding: 20px;
        border-radius: 30px;
        border: 1px solid var(--border);
        background: var(--bg);
        font-size: var(--step--1);
        transition:
          border-color 0.2s ease,
          box-shadow 0.2s ease,
          transform 0.2s ease;
        &:focus {
          border-color: var(--purple);
          outline: none;
          box-shadow: 0 0 0 3px var(--purple-bg);
        }
      }
    }
    button {
      margin-top: 20px;
      margin-left: auto;
      font-size: var(--step-0);
      font-weight: 400;
      border-radius: 999px;
      padding: var(--btn-padding);
      transition: background-color 0.2s ease;
      border: transparent;
      width: fit-content;
      font-family: var(--sitefont);
      cursor: pointer;
      background-color: var(--lime-green);
      border: 1px solid transparent;
      color: var(--near-black);
      &:hover {
        background-color: var(--btn-hover);
        color: var(--base-white);
      }
    }
  }
}

.item-details {
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 30px;
    .tag-pill {
      font-size: var(--step--1);
      background-color: var(--base-white);
      padding: 10px 20px;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.25);
      color: var(--base-white);
      letter-spacing: 0.3px;
    }
  }
}

.spacer {
  height: 60px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  position: relative;
  margin: 20px;
  padding: 20px;
  .cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 880px;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
  }
  .app-main {
    width: 100%;
    max-width: var(--sitewidth);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.horizontal-nav {
  width: 100%;
  max-width: var(--sitewidth);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  .horizontal-nav-brand {
    display: flex;
    gap: 20px;
  }
  .horizontal-nav-links {
    display: flex;
    gap: 20px;
    border-radius: 999px;
    padding: var(--btn-padding);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    .horizontal-nav-link {
      display: flex;
      text-decoration: none;
      color: #fff;
      padding: var(--btn-padding);
      border-radius: 999px;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.25);
      &:hover {
        background-color: var(--grey-800);
        border-color: var(--grey-800);
        color: var(--base-white);
      }
      &.active {
        background-color: var(--grey-800);
        border-color: var(--grey-800);
        color: var(--base-white);
      }
    }
  }
  .navBtn {
    display: flex;
    padding: var(--btn-padding);
    border-radius: 999px;
    border: 1px solid transparent;
    background-color: var(--lime-green);
    color: var(--near-black);
    text-decoration: none;
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease;
    &:hover {
      background-color: var(--grey-800);
      border-color: var(--grey-800);
      color: var(--base-white);
    }
    &.active {
      background-color: var(--grey-800);
      border-color: var(--grey-800);
      color: var(--base-white);
    }
  }
}

.home-page {
  .app-main {
    max-width: inherit !important;

    .hero-container {
      max-width: var(--sitewidth);
      margin-left: auto;
      margin-right: auto;
      .heading {
        h1 {
          color: var(--base-white);
        }
      }
      .subheading {
        h2 {
          color: var(--base-white);
          line-height: 1.2;
        }
      }
      .cta {
        .cta-wrapper {
          display: flex;
          gap: 20px;
          margin-bottom: 40px;
          .btn {
            background-color: var(--purple);
            color: var(--base-white);
            &:hover {
              background-color: var(--btn-hover);
              color: var(--base-white);
            }
            &.contact-btn {
              background-color: var(--lime-green);
              color: var(--near-black);
              &:hover {
                background-color: var(--near-black);
                color: var(--base-white);
              }
            }
          }
        }
      }
    }

    // Grid
    .hero-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1.4fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "heading stage"
        "subheading stage"
        "cta stage";
    }

    .heading {
      grid-area: heading;
    }

    .subheading {
      grid-area: subheading;
    }

    .cta {
      grid-area: cta;
    }

    .stage {
      grid-area: stage;
    }

    .hero {
      max-width: var(--sitewidth);
      margin-left: auto;
      margin-right: auto;
      gap: 4px;

      .hero-wrapper {
        display: flex;
        width: 100%;
        gap: 40px;
        .col {
          flex-basis: 50%;
        }
        h1 {
          color: var(--base-white);
          letter-spacing: -2.5px;
        }
        h2 {
          color: var(--base-white);
          line-height: 1.2;
          font-size: var(--step-3);
          letter-spacing: -0.5px;
        }
        p {
          color: var(--base-white);
          font-size: var(--step-1);
          line-height: 1.5;
        }
      }
      .cta-wrapper {
        display: flex;
        gap: 20px;
        margin-top: 40px;
        .btn {
          background-color: var(--purple);
          color: var(--base-white);
          &:hover {
            background-color: var(--btn-hover);
            color: var(--base-white);
          }
          &.contact-btn {
            background-color: var(--lime-green);
            color: var(--near-black);
            &:hover {
              background-color: var(--near-black);
              color: var(--base-white);
            }
          }
        }
      }
    }

    .featured {
      max-width: var(--sitewidth);
      margin-left: auto;
      margin-right: auto;
      .controls {
        display: flex;
        justify-content: flex-end;
        button {
          border: none;
          background: none;
          cursor: pointer;
          &:hover {
            svg rect {
              fill: var(--grey-800);
            }
            svg path {
              fill: var(--base-white);
            }
          }
        }
      }
      .tag-pill {
        font-size: var(--step-0);
        text-transform: uppercase;
        background-color: var(--base-white);
        padding: var(--btn-padding);
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border);
        letter-spacing: 0.3px;
        width: fit-content;
      }
    }

    .featured-swiper {
      .section-inner {
        margin-left: -40px;
        position: relative;
        .swiper {
          width: calc(100vw - 20px);

          .swiper-slide {
            .container {
              border-radius: 20px;
              padding: 20px;
              background-color: var(--base-white);
              box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
              .content {
                border-radius: 10px;
                overflow: hidden;
                background-color: var(--purple-bg);
                background-size: cover;
                background-position: center;
                img {
                  width: 100%;
                  height: auto;
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                }
                .video {
                  width: 100%;
                  height: auto;
                  display: block;
                }
              }
              .description {
                margin-top: 20px;
                h3 {
                  line-height: 1.2;
                  font-weight: 500;
                  margin-bottom: 10px;
                  color: var(--grey-600);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
          .swiper-slide-active {
          }
        }
        .gradient {
          z-index: 2;
          background-image: linear-gradient(
            90deg,
            var(--bg) 0%,
            transparent 100%
          );
          position: absolute;
          top: 0px;
          right: 92%;
          left: 0%;
          bottom: 0px;
          &.right {
            left: 92%;
            right: 0%;
            background-image: linear-gradient(
              270deg,
              var(--bg) 0%,
              transparent 100%
            );
          }
        }
      }
    }

    .home-contact {
      margin-top: 40px;
      max-width: var(--sitewidth);
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 1;
      gap: 10px;
      .formwrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
      }
    }
  }
  .site-footer {
    margin-top: -300px;
    padding-top: 360px;
  }
}

.projects-page,
.projects-two-page {
  img.cover-bg {
    max-height: 1024px !important;
  }
}

.contact-page {
  img.cover-bg {
    max-height: 1007px !important;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  .col {
    flex-basis: 50%;
    &.left {
      flex: 1;
      > .med-heading {
        color: var(--base-white);
      }
      > .lg-heading {
        color: var(--base-white);
      }
    }
    &.right {
      flex: 0 1 900px;
    }
  }
  &.contact {
    gap: 80px;
    padding-bottom: 40px;
  }
}

.partners-section {
  margin-top: 30px;
  border-radius: 38px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.07);
  .partners-inner {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--base-white);
    border: 1px solid rgba(0, 0, 0, 0.07);
    width: 100%;
    .row {
      justify-content: center;
      h3 {
        margin: 10px 0px 10px 0px;
        text-align: center;
      }
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: var(--btn-padding);
  width: fit-content;
  border-radius: 999px;
  justify-content: center;
  margin: 10px auto 4px auto;
  background-color: var(--base-white);
  border: 1px solid var(--grey-200);

  .filter-button {
    font-size: var(--step---1);
    padding: var(--btn-padding);
    border-radius: 999px;
    color: var(--grey-800);
    background-color: var(--lime-green);
    border: 1px solid var(--lime-green);
    cursor: pointer;

    &:hover {
      background-color: var(--grey-800);
      border-color: var(--grey-800);
      color: var(--base-white);
    }

    &.active {
      background-color: var(--grey-800);
      border-color: var(--grey-800);
      color: var(--base-white);
    }
  }
}

.mobile-nav {
  display: none;
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  height: 60px;
  transition: all 0.3s ease;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;

  .mobile-nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .horizontal-nav-brand.mobile {
      img {
        width: 100%;
        max-width: 200px;
        height: auto;
        display: block;
      }
    }
    .menu-toggle {
      display: flex;
      background: transparent;
      border: none;
      color: var(--base-white);
      font-size: var(--step-1);
      cursor: pointer;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .mobile-menu {
    display: none;
    margin-top: 20px;
    flex-direction: column;
    gap: 16px;
    height: inherit;
    a {
      font-size: var(--step-1);
      text-decoration: none;
      color: var(--base-white);
      text-align: right;
      color: var(--lime-green);
    }
    &.open {
      display: flex;
    }
    .contactBtn {
      background-color: var(--lime-green);
      color: var(--near-black);
      padding: var(--btn-padding);
      border-radius: 999px;
      border: none;
      width: fit-content;
      margin-left: auto;
      &:hover {
        background-color: var(--near-black);
        color: var(--base-white);
      }
    }
  }
  &:has(.mobile-menu.open) {
    background-color: var(--grey-800);
    height: 90vh;
  }
}

.privacy-page {
  section.privacy {
    padding-bottom: 40px;
  }
}

.logo-design-page {
  .hero-outer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.services-page {
  .hero-wrapper {
    max-height: inherit;
  }
}

.services-page,
.photography-page {
  .hero-outer {
    .swiper {
      width: 100%;
      max-width: 900px;
      border-radius: 20px;
      .swiper-wrapper {
        .swiper-slide {
          cursor: pointer;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
      &.swiperOne {
        margin-top: 0px;
      }
      &.swiperOneThumbs {
        margin-top: 10px;
        border-radius: 10px;
        .swiper-wrapper {
          .swiper-slide {
            border-radius: 10px;
            overflow: hidden;
          }
        }
      }
      .swiper-button-prev {
        border: 2px solid var(--grey-800);
        background-color: var(--lime-green);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        .swiper-navigation-icon {
          width: 12px;
          height: 12px;
          path {
            stroke: var(--muted-mauve-grey);
            stroke-width: 2px;
          }
        }
        &:hover {
          border-color: var(--lime-green);
          background-color: var(--grey-800);
          .swiper-navigation-icon {
            path {
              stroke: var(--lime-green);
            }
          }
        }
        &.swiper-button-disabled {
          opacity: 0;
        }
      }
      .swiper-button-next {
        border: 2px solid var(--grey-800);
        background-color: var(--lime-green);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        .swiper-navigation-icon {
          width: 12px;
          height: 12px;
          path {
            stroke: var(--muted-mauve-grey);
            stroke-width: 2px;
          }
        }
        &:hover {
          border-color: var(--lime-green);
          background-color: var(--grey-800);
          .swiper-navigation-icon {
            path {
              stroke: var(--lime-green);
            }
          }
        }
        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }
}

.services-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: fit-content;

  .service-btn {
    display: flex;
    text-decoration: none;
    padding: var(--btn-padding);
    border-radius: 999px;
    justify-content: center;
    align-items: center;
    color: var(--near-black);
    background-color: var(--lime-green);
    border: 1px solid var(--lime-green);
    cursor: pointer;
    &:hover {
      background-color: var(--grey-800);
      border-color: var(--grey-800);
      color: var(--lime-green);
    }
    &.active {
      background-color: var(--grey-800);
      border-color: var(--grey-800);
      color: var(--base-white);
    }
  }
}

.site-footer {
  min-height: 500px;
  margin-top: 60px;
  padding: 60px;
  border-radius: 20px;
  margin-left: -20px;
  margin-right: -20px;
  color: var(--muted-mauve-grey);
  background-color: var(--grey-800);
  position: relative;
  overflow: hidden;
  .footer-icon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    width: 33%;
  }
  .site-footer-inner {
    width: 100%;
    max-width: var(--sitewidth);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    position: relative;
    .site-footer-links {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .site-footer-link {
        .footer-link-prefix {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: var(--lime-green);
          margin-right: 14px;
          border-radius: 999px;
        }
      }
      a {
        display: flex;
        align-items: center;
        &:hover {
          .footer-link-prefix {
            background-color: var(--base-white);
          }
        }
      }
    }
    a {
      color: var(--lime-green);
      text-decoration: none;
    }
    .site-footer-brand-wrap {
      img {
        width: 100%;
        max-width: 265px;
      }
    }
  }
}

.below-footer {
  display: flex;
  justify-content: center;
  margin-top: -24px;
  .scroll-to-top {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 10;
    svg {
      rect {
        fill: var(--lime-green);
      }
      path {
        fill: var(--near-black);
      }
    }
    &:hover {
      svg {
        rect {
          fill: var(--purple);
        }
      }
    }
  }
}

.stage {
  width: 100%;
  position: relative;
  margin-top: 40px;

  .stage-img-01 {
    width: 100%;
    max-width: 582px;
    height: auto;
    display: block;
    left: 0px;
    top: 34px;
  }

  .stage-img-02,
  .stage-img-03,
  .stage-img-04 {
    position: absolute;
    width: 40vw;
    height: auto;
    display: block;
  }
  .stage-img-02 {
    left: -3%;
    top: 26%;
    max-width: 320px;
  }
  .stage-img-03 {
    left: 40%;
    top: 10%;
    max-width: 262px;
  }
  .stage-img-04 {
    left: 42%;
    top: 60%;
    max-width: 262px;
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.pricing-page {
  .pricing-wrapper {
    border-radius: 38px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: fit-content;
    .pricing-section {
      .row {
        .col {
          .left {
            flex: 0 auto;
          }
        }
        &.item-title {
          align-items: center;
        }
        &.price {
          flex-direction: column;
          gap: 0px;
          h2 {
            margin: 0px;
          }
          p {
            margin: 0px;
            color: var(--muted-mauve-grey);
          }
        }
      }
      p.details {
        margin-top: 20px;
      }
      ul.features {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        color: var(--muted-mauve-grey);
        gap: 10px;
        padding-left: 0px;
        li {
          display: flex;
          background-image: url("/badge-tick-002.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          padding-left: 34px;
        }
      }
      .card {
        border-radius: 20px;
        padding: 20px;
        background-color: var(--base-white);
        .description {
          color: var(--muted-mauve-grey);
        }
        &.recommended {
          background-color: var(--lime-green);
        }
      }
    }
  }

  .btn {
    cursor: pointer;
    margin-top: 20px;
    font-size: var(--step-0);
    font-weight: 400;
    border-radius: 999px;
    padding: var(--btn-padding);
    transition: background-color 0.2s ease;
    border: transparent;
    width: fit-content;
    font-family: var(--sitefont);
    background-color: var(--lime-green);
    border: 1px solid transparent;
    color: var(--near-black);
    &:hover {
      background-color: var(--near-black);
      color: var(--base-white);
    }
  }
  .disclaimer {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: white;
  z-index: 9999;
}

@media (max-width: 1024px) {
  .horizontal-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  #root {
    margin: 10px;
    .app-main {
      margin-top: 40px;
    }
  }
  section {
    flex-direction: column;
  }
  .section-inner,
  .swiper-wrapper-outer {
    padding: 0px;
    border: transparent;
    background: transparent;
  }
  .swiper-wrapper {
    margin-top: 10px;

    .badge {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .tag-list {
    display: none !important;
  }

  .services-list {
    display: none !important;
  }

  .home-page {
    .hero-wrapper {
      flex-direction: column;
      .col.left {
      }
      .col.right {
        .stage {
          // display: none;
        }
      }
    }

    .swiper {
      .container {
        .description {
          h3 {
            font-size: var(--step--1);
          }
          p {
            display: none;
          }
        }
      }
    }
    section.featured {
      h4 {
        margin: 0px;
      }
      h1 {
        margin: 0px 0px 30px 0px;
      }
    }
    .formwrapper {
      padding: 0px;
      .formgroup {
        padding: 20px;
        .contact-btn {
          width: 100%;
        }
      }
    }
    section.featured-swiper {
      margin-top: 20px;
      .swiper-slide .container {
        padding: 10px !important;
      }
    }
    .cta-wrapper {
      flex-direction: column;
    }
  }

  .row {
    flex-direction: column;
  }
  .col.right {
    flex: 1 !important;
  }

  .site-footer {
    padding: 30px;
    min-height: 408px;
  }

  .hero-outer {
    padding: 4px;
    border-radius: 13px;
    .hero-wrapper {
      max-width: calc(100vw - 80px);
      border-radius: 10px;
    }
  }

  .swiper-wrapper-outer .swiper {
    width: calc(100vw - 80px);
    .swiper-wrapper {
      .swiper-slide {
        border-radius: 6px;
        .inner-slide {
          border-radius: 5px;
        }
      }
    }
  }

  .projects-page {
    .partners-section {
      padding: 0px;
      margin-top: 10px;
    }
    .partners-inner {
      padding: 0px;
      gap: 0px;
      .row {
        h3 {
        }
        .col.left {
        }
        .col.right {
          flex-basis: 100%;
        }
        .filters {
          border-radius: 20px;
          margin-top: 10px;
          .filter-button {
            font-size: var(--step--2);
          }
        }
      }
      .tiles-wrapper .tiles {
        gap: 12px;
        padding: 0px 10px;
      }
      .tiles-wrapper .tiles .tile-card {
        flex-basis: 47%;
      }
      .tiles-wrapper .tiles .tile-card .tile-info {
        display: none;
      }
    }
  }

  .contact-page {
    .formwrapper {
      padding: 0px;
      border: none;
      background: transparent;
      border-radius: 0px;
      .formgroup {
        padding: 20px;
        border-radius: 26px;
        .contact-btn {
          width: 100%;
        }
      }
    }
  }

  .hero-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    grid-template-areas:
      "heading"
      "stage"
      "subheading"
      "cta" !important;
    .lg-heading {
      margin-top: 10px;
    }
    .stage {
      margin-top: 0px;
    }
  }
}
